.App {
  /* font-family: 'Abacsap', sans-serif; */
  font-family: 'Righteous', cursive;
  margin: 0 auto; 
  /* color: #FF9F1C */
  /* background-color: #011627; */
}

h1{
  color:#011627;
}


.Contact{
  text-align: center;
}
.home{
  font-family: 'Lato', sans-serif;
  font-size: 3em; 
  color: #011627;
}

.email{
  color: #32936F;
}
.Home{
  text-align: center;
  margin: 0 auto;
  /* color: #FDFFFC; */
}

.HomeInternal{
  /* background-color: #5BC0EB; */
  
}
.fullStackDev{
  font-size: 1.2em; 
}

.button{
  color: white;
}

.colorRow{
  background-color: #2274A5;  
  color: white;
}

.cIcons{
  color: #FFFFFF;
}
.connectIcons{
  color: #2274A5;
}
.caroselOne{
max-width: 70%;
max-height: 50%; 
}

.jumbotron {
  /* border: 2px solid purple; */
  background-color: white;
  color: black;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: -2;
  height: 100%;
  width: 100%; 
  padding: 7%; 
}



.homeGif{
  /* border: 4px solid gold;  */
  padding: 1.5%; 
  width: 25%;
  height: 17%; 
  /* border: 1px solid black;  */
}

.aboutMeP{
  text-align: left; 
}

/* .jumbotron{
  background-image: url("../src/Image/stairs.jpg");
  background-size:cover; 
  background-repeat: no-repeat,;
  background-position: center;
  width: 100vw; 
  height: 50vh;
  text-align: right;
} */

.headerH1{
  color:#011627;
  font-size: 5em; 
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}



.headerP{
  color:black;
  font-size: 1.3em; 

}


 .selfie{
  width: 35%;
  height: auto;
} 

.fontAwe{
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* .colorRowOrange{
  text-align: center;
  background-color: #f9d368;
  margin: 0 auto;

} */
.colorRow2{
  background-color: #FFBF00;
  text-align: center;
  margin: 0 auto;
}

.navBar{
  color: black;
}
/* .portfolioStuff{
  text-align: center;
  margin: 0 auto;
} */


.aboutMe{
  padding-top: 3%; 
  text-align: center; 
  margin: 0 auto;

}

.aboutMeContainer{
padding-top: 5%;
font-size: 1.3em; 
}

.skillsBox{
  /* -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; */
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.followMe{

}

.react-pdf_Page_svg {
  margin: 0 auto;
  width: 60vw; }


.headerProjects{
  text-align: center;
}

.mkImage{
  position: relative;
  right:3em;
}

.contactHeader{
  text-align: center; 
}

.formEmail{
  width: 20%; 
}

.resume{
  text-align: center;
  margin: 0 auto;

}

.projects, .headerProjects{
  text-align: center;
}

.aboutMeHeader{
  text-align: center; 
}

.aboutMeDiv{
  text-align: center;
}
.item{
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.loading{
  text-align: center;
}



.footer{
  text-align: center; 
  height: 4em; 
  background-color: grey;
  color: white
}

.footerH3{
text-align: center;
vertical-align: middle;
line-height: 2em; 
} 

